body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F33A6A;
}

.header_text {
    font-family: 'Nunito';
    font-size: 100px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}